.cartContainer {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.cartItems {
  width: 60%;
}
.itemsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 100px;
  gap: 1rem;
}

.cartCheckout {
  width: 40%;
}
