.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4px;
  background-color: #124559;
  border: 2px solid #01161e;
  color: #eee;
}

.itemImgContainer {
  width: 100%;
  height: 60%;
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 4px 0 0;
}
.itemImg {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.itemInfoContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  padding: 0 1rem;
}
.itemTitle {
  font-size: 1.1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.itemRating {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.itemPrice {
  font-size: 1.4rem;
  font-weight: bold;
}
.itemBtn {
  padding: 0.4rem 0 0.8rem 0;
}
